<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BabbySitEase"
        tools:targetApi="31">
        <activity
            android:name=".Tarefa11_1"
            android:exported="false"
            android:label="@string/title_activity_tarefa111" />
        <activity
            android:name=".Tarefa15"
            android:exported="false"
            android:label="@string/title_activity_tarefa15" />
        <activity
            android:name=".Tarefa13"
            android:exported="false"
            android:label="@string/title_activity_tarefa13" />
        <activity
            android:name=".Tarefa12"
            android:exported="false"
            android:label="@string/title_activity_tarefa12" />
        <activity
            android:name=".Tarefa11"
            android:exported="false"
            android:label="@string/title_activity_tarefa11" />
        <activity
            android:name=".Tarefa14"
            android:exported="false"
            android:label="@string/title_activity_tarefa14"
            android:theme="@style/Theme.BabbySitEase" />
        <activity
            android:name=".Tarefa35"
            android:exported="false"
            android:label="@string/title_activity_tarefa35" />
        <activity
            android:name=".Tarefa26"
            android:exported="false"
            android:label="@string/title_activity_tarefa26" />
        <activity
            android:name=".Tarefa32"
            android:exported="false"
            android:label="@string/title_activity_tarefa32" />
        <activity
            android:name=".Tarefa33"
            android:exported="false"
            android:label="@string/title_activity_tarefa33" />
        <activity
            android:name=".Tarefa34"
            android:exported="false"
            android:label="@string/title_activity_tarefa34" />
        <activity
            android:name=".Tarefa25"
            android:exported="false"
            android:label="@string/title_activity_tarefa25" />
        <activity
            android:name=".Tarefa24"
            android:exported="false"
            android:label="@string/title_activity_tarefa24"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Tarefa23"
            android:exported="false"
            android:label="@string/title_activity_tarefa23" />
        <activity
            android:name=".Tarefa22"
            android:exported="false"
            android:label="@string/title_activity_tarefa22" />
        <activity
            android:name=".Tarefa21"
            android:exported="false"
            android:label="@string/title_activity_tarefa21" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
